*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F3F1FF;
}
/* -----------------------
Navbar 
--------------------------*/
header{
  width: 100%;
  height: 80px;
  background-color: #562EFF;
}
header nav{
  width: 780px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid red; */
}
.logo{

}
.logo img{
  height: 60px;
}
.menu{
  
}
.menu a{
  text-decoration: none;
  color: #fff;
  font-family: poppins,sans-serif;
  margin: 0 20px;
}
.navbar{

}
.navbar img{

}
/* --------------------
top-box 
----------------------*/
#top_box{
  width: 780px;
  height: 640px;
  background-color: #fff;
  margin: 20px auto;
  /* border: 2px solid red; */
  padding: 32px;
  border-radius: 8px;
}
.top_player {
  font-size: 24px;
  font-family: poppins, sans-serif;
  color: #562EFF;
}
.players{
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px 0;
}
.player{
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-evenly;
  align-items: center;
}
.player img{
  width: 56px;
  height: 56px;
}
.info h2{
  font-family: poppins;
  font-size: 17px;
}
/* --------------------------- 
      2nd-section-Blog 
      -------------------------- */
      hr{
        border: 1px solid #D1D1D1;
        margin: 5px;
      }
  .top_blog{
    font-size: 24px;
    font-family: poppins, sans-serif;
    color: #562EFF;
    margin-top: 30px;
  }
  .blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    /* border: 2px solid red; */
    padding: 20px 0;
    box-sizing: border-box;
  }
  .blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 342px;
    height: 117px;
    /* border: 2px solid red; */
  }
  .blog img{
    height: 113px;
  }
  .blog .text{
    width: 155px;
    height: 117px;
    /* border: 2px solid red; */
    
  }
  .blog .text h3{
    margin: 6px 0;
    font-family: poppins, sans-serif;
    font-size: 17px;
    letter-spacing: .8px;
  }
  .blog .text p{
    font-family: poppins, sans-serif;
    font-size: 15px;
    color: #9F9F9F;
  }
  .blog .text p a{
    font-family: poppins, sans-serif;
    font-size: 15px;
    color: #562EFF;
    text-decoration: none;
  }



/* ---------------------------
Course-section
----------------------------- */

  #Course-section{
    border-radius: 8px;
    width: 780px;
    height: 370px;
    background-color: #fff;
    margin: 20px auto;
    /* border: 2px solid red; */
    padding: 32px;
  }
  .Lates_Course{
    font-size: 24px;
    font-family: poppins, sans-serif;
    color: #562EFF;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .course_box{
    width: 220px;
    height: 240px;
    margin-top: 20px;
    border-radius: 20px;
    /* border: 1px solid red; */
  }
  .course_box_area{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  .course_box_area img{
    width: 100%;
    /* border: 1px solid red; */
  }
  .title{
    /* border: 1px solid red; */
    margin:  0;
    font-family: poppins, sans-serif;
  }
  .title h3{
    font-size: 17px;
    letter-spacing: .6px;
  }
  .title a{
    text-decoration: none;
    color: #ED6B4F;
    font-size: 15px;
  }
  .rating{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
  }
  .star{
    width: 60%;
    display: flex;
    justify-content: ;
    align-items: center;
    /* border: 1px solid red; */
  }
  .star p{
    font-family: poppins,sans-serif;
  }
  .fa-solid{
    color: #FFC014;
  }
  .fiveth_star{
    color: #AEAEAE;
  }

  /* -------------time-------------- */
  .time{
    width: 40%;
    height: 27px;
    border-radius: 30px;
    padding: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #FFE4E8;
    
  }
  .time p{
    font-family: poppins,sans-serif;
    display: inline-block;
    font-size: 13px;
    color: #FF4A60;
  }
  .time .fa-regular{
    color: #FF4A60;
    font-size: 15px;
  }